<div class="alert alert-<%= messageType %> alert-dismissible fade show" role="alert">
    <% if(errorMessage){ %><strong><%= errorMessage %></strong><% } %> 
    <% if(successMessage){ %><strong><%= successMessage %></strong><% } %> 
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>