<%- include("./includes/header.ejs") %>
  </head>
  <body>

<section class="checkout-body">

    <div class="main-container white-bg d-flex flex-column align-items-center pt-5 mx-auto">
        <img src="./images/correction.svg" alt="" width="100">
        <h1 style="color: #2fdf84;" class="mt-3">Thank You!</h1>
        <div class="order-id px-3 py-2 white-bg">
            <b><span style="color: #919090">YOUR ORDER NUMBER:</span> <span style="color: #2fdf84;"><%= order_num %></span></b>
        </div>
        
        <div class="mt-5 px-3 py-2">
            <span class="dark-grey">NEXT STEPS: </span><br>
                <span class="small-grey">
                    Your Order was successfully submitted! You will recieve
                    a confirmation mail or sms. Our customer service might contact 
                    you shortly to verify your order.
                </span>
        </div>
        
        <div class="mt-5 px-5 py-2 w-100">
            <div class="text-center">
                <div class="small-grey">
                    Your can track your order in
                </div>
                <div class="mt-2">
                    <b>My Account &nbsp;&nbsp;<i class="bx bxs-right-arrow-circle"></i>&nbsp;&nbsp; My Orders</b>
                </div>
            </div>
        </div>

        <button class="btn continue-btn-i w-100 py-3 mt-4">GO TO MY ORDER</button>
        <a href="/products" class="btn continue-btn w-100 py-3">CONTINUE SHOPPING</a>
    </div>

</section>

<%- include("./includes/scripts.ejs") %>

</body>
</html>